<!-- Sidebar navigation -->
<nav>
  {{ partial "header.html" . }}
  <div class="nav-menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="color-link nav-link {{ if or (eq $currentPage.URL .URL) ($currentPage.HasMenuCurrent " main" .) }}
      active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
    {{ end }}
    <a class="color-link nav-link" href="{{ .Site.RSSLink }}" target="_blank" rel="noopener"
      type="application/rss+xml">RSS</a>
  </div>
  {{ partial "footer.html" . }}
</nav>