<!-- Sidebar navigation -->
<nav>
  {{ partial "header.html" . }}
  <div class="nav-menu">
    {{ range .Site.Menus.main }}
    {{ $active := eq $.RelPermalink (.URL | relLangURL) }}
    {{ $active = or $active (eq $.Section (lower .Name)) }}
    <a href="{{ .URL | relLangURL }}" class="color-link nav-link {{ if $active }}active{{ end }}">{{ .Name }}</a>
    {{ end }}
    <a class="color-link nav-link" href="{{ .Site.RSSLink }}" target="_blank" rel="noopener"
      type="application/rss+xml">RSS</a>
  </div>
  {{ partial "footer.html" . }}
</nav>